@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--color-green: rgb(138, 255, 123);
	--color-rocket: #7159c1;
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	padding: 0;
	border: 0;
	margin: 0;
}

*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #121214;
	color: white;
}

header {
	text-align: center;
	padding: 30px;
	background: #202024;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.links a {
	font-size: 18px;
	line-height: 28px;
	color: #7f7f8d;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	margin: 0 30px;
}

.links a:hover {
	color: var(--color-green) !important;
	transition: color 200ms;
}

#wrapper {
	text-align: center;
	padding: 32px;
}

#wrapper img {
	border-radius: 50%;
	border: 4px solid var(--color-green);
	margin-bottom: 32px;
	width: 250px;
}

#wrapper h1 {
	font-size: 32px;
	line-height: 42px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

#wrapper h2 {
	font-size: 24px;
	line-height: 34px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	opacity: 0.5;
	margin-bottom: 32px;
}

#wrapper p {
	max-width: 500px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}

.socials {
	text-align: center;
}

.socials a {
	font-size: 15px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
	margin: 0 15px;
	text-decoration: none;
	color: rgb(201, 201, 201);
	border-bottom: 2px solid var(--color-green);
}

.socials a:hover {
	color: var(--color-green);
	transition: color 200ms;
	opacity: 100%;
}

/* === CARDS === */
.cards {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	font-family: 'Roboto', sans-serif;
}

.card {
	background-color: var(--color-rocket);
	position: relative;
	height: 350px;
}

.card__image-container img {
	width: 100%;
}

.card__content,
.card__info {
	padding: 24px;
}

.card__info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.card__info p {
	align-self: center;
}

.card__price {
	background-color: var(--color-rocket);
	filter: brightness(90%);
	padding: 5px 20px;
	border-radius: 20px;
	text-align: center;
}

/* === MODAL === */
.modal-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.modal {
	background-color: white;
	width: 90%;
	height: 90%;
	margin: 5vh auto;
	position: relative;
}

.modal .close-modal {
	color: black;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
	opacity: 1;
	visibility: visible;
}

.modal-content iframe {
	width: 100%;
	height: 90%;
	position: absolute;
	top: 5%;
}

/* === 404 - NOT FOUND === */
#not-found h1 {
	margin-top: 33vh;
	text-align: center;
	font-size: 100px;
	font-family: 'Roboto', sans-serif;
    color: maroon;
}

#not-found h2 {
	text-align: center;
	font-size: 50px;
	font-family: 'Roboto', sans-serif;
}