<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodfy</title>

        <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>

        <div id="container">
            <div id="main">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer id="footer">
            <div>
                <p>
                    All rights reserved, Foodfy Recepies.
                </p>
            </div>
        </footer>

        <script src="/scripts.js"></script>

    </body>
</html>