{% extends "layout.njk" %}

{% block content %}

    <div class="course_frame">
        <iframe src="https://rocketseat.com.br/launchbase" frameborder="0"></iframe>              
    </div>

{% endblock %}