{% extends "layout.njk" %}

{% block teachers %}

<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/9489328/500x500) no-repeat center center / cover">
    </section>

    <section class="details">

        <h3>
            Details
        </h3>

        <div class="item_container">
        
            <div class="item">
                <div>Instructor</div>
                <div>Gabi Cavalcante</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>32</div>
            </div>

            <div class="item">
                <div>Scholarity</div>
                <div>Doctorate Degree</div>
            </div>

            <div class="item">
                <div>Type of Classes</div>
                <div>
                    <span>Online Classes</span>
                    <span>Tradicional Classes</span>
                </div>
            </div>

            <div class="item">
                <div>Fields</div>
                <ul>
                    <li>
                        Mathematics
                    </li>
                    <li>
                        Physics
                    </li>
                </ul>
            </div>
            
            <div class="item">
                <div class="since">
                    <div>Since</div>
                    <div>01/01/2020</div>
                </div>
            </div>
        
        </div>
    
    </section>
</div>

{% endblock teachers %}