{% extends "admin/adminLayout.njk" %}

{% block content %}

<header class="header_admin">
    <div class="header_container">
        <div class="header_grid">
            <a class="foodfy_logo">Foodfy</a>
            <a href="/admin/recipes">Recipes</a>
            <a href="/admin/chefs" style="filter: brightness(50%)">Chefs</a>
        </div>
    </div>
</header>

<div class="showInfoAdminEditChefsMain">
    <div class="showInfoAdminEditChefsContainer">

        <div class="showInfoAdminEditChefs">
            <h1>
                Editing Chef
            </h1>
            <form id="form-delete" class="deleteChefs" action="/admin/chefs?_method=DELETE" method="post">

                <input type="hidden" name="id" value="{{ chef.id }}">
                <button type="submit">Delete</button>

            </form>

            <button type="submit" form="form-edit">Save Chef</button>
            
        </div>
    </div>
</div>

<form id="form-edit" method="POST" action="/admin/chefs?_method=PUT">   

    <input type="hidden" name="id" value="{{ chef.id }}">
    
    <div class="showInfoAdminEditMainItemsChefs">
        <div class="showInfoAdminEditContainerItemsChefs">
            {% include 'admin/chefs/fields.njk' %}
        </div>
    </div>
</form>

{% include 'confirm.njk' %}

{% endblock content %}