{% extends "layout.html" %} {% block content %}
<div class="card">
	<section
		class="avatar"
		style="
			background: url(https://source.unsplash.com/collection/2311602/500x500) no-repeat center
				center / cover;
		"
	></section>

	<section class="details">
		<h3>Teacher Details</h3>

		<div class="item">
			<div>Full Name</div>
			<div>Rafa</div>
		</div>

		<div class="item">
			<div>Age</div>
			<div>30</div>
		</div>

		<div class="item">
			<div>Degree Level</div>
			<div>Doctoral degree</div>
		</div>

		<div class="item">
			<div>Attendance Type</div>
			<div>In-Person</div>
		</div>

		<div class="item">
			<div>Teaches</div>
			<div>
				<span>Mathematics</span>
				<span>Physics</span>
			</div>
		</div>

		<div class="item">
			<div>Since</div>
			<div>10/05/2021</div>
		</div>
	</section>
</div>

{% endblock content %}
