{% extends "admin/recipes/adminLayout.njk" %}

{% block content %}

<div class="showInfoAdminEdit">
    <h1>
        Recipe: {{ recipe.title }}
    </h1>
    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">

        <input type="hidden" name="id" value="{{ recipe.id }}">
        <button type="submit">Delete</button>

    </form>

    <button type="submit" form="form-edit">Save Recipe</button>
    
</div>

<form id="form-edit" method="POST" action="/admin/recipes?_method=PUT">   

    <input type="hidden" name="id" value="{{ recipe.id }}">

    {% include 'admin/recipes/fields.njk' %}

</form>

{% include 'confirm.njk' %}

{% endblock content %}